@charset "UTF-8";

   .carousel-inner{
       margin-top:100px;
     }
     
     a:hover{
        color:black;
     }
     .navbar-default, .navbar-inverse{
        background-color: #ffffff;
        border-color: #ffffff;
     }
     .container{
      margin: auto;
       width:1200px;
     }
     
     .navbar-nav{
      width:30%;
     }
   
   .navbar-nav:nth-child(2) {
      width:40%; 
      margin-left: 5%;
   }
   .navbar-nav:nth-child(2)>li>a{
      height:50px;
      width:auto;
      display:block;
      margin:5px;
      padding:0px;
      font-weight: bold;
      color:lightgray;
   }
   .navbar-nav:nth-child(2)>li>a>img{
      height:25px;
      width:auto;
   }
  /*   .navbar-nav:nth-child(2)>li:nth-child(5){
          display:block;
         font-size: 10px;
   } */